@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');

@font-face {
    font-family: urban_heroes;
    src: url(../fonts/urban_heroes/Urban\ Heroes.ttf);
}

htmml {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../media/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    
}


header {
    background-color: black;
    color: #F59AEE;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px      

}

header img {
    height: 125px;
    width: 100;
    margin: 10px;
}



header a::before{
    content: "|";
    margin: 0px 20px 0px 20px;
    font-family: "Port Lligat Slab", serif;
    color: white;
}

header a::after{
    content: "|";
    margin: 0px 20px 0px 20px;
    font-family: "Port Lligat Slab", serif;
    color: white;
}

header a {
    text-decoration: none;
    color: #F59AEE;
   
}

/* botao para voltar pra cima */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(183, 0, 255);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #525252;
  }

  /**/


nav {
 background-image: url(../media/hero.jpg);
    height:800px ;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-size: cover;
}

nav h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 60px;
    margin: 10%;
    
}

#span_1 {
    color: #DE39F8;
    font-family: urban_heroes;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 
    -3px -3px 0 #000,  
    3px -3px 0 #000,  
    -3px 3px 0 #000,  
    3px 3px 0 #000;   
    display: inline-block;

}


/* #span_2 {
color: #DE39F8;
font-family: urban_heroes;
text-shadow: #000 ;
display: flex;
border: solid 3px ;

} */

#div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin-right: 10%;
    margin-top: 8%;

}

#div2 h2 {
    font-size: 30px;
    padding: 10px;
    color: white;
}

.escrita1 {
    color: #D4C0D3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    margin-left: 12%;
}

.imagem2 {
    display: flex;
    height: 300px;
}



#div2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin-left: 10%;
    margin-top: 8%;

}

.escrita2 {
    font-family: "Arapey", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 12%;
    margin-right: 10%;
    color: #D4C0D3;
 
}

.imagem2 {
    display: flex;
    height: 350px;
    max-width: 400px;
}

.container1 {
    text-align: center;
}

#h1 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 2em;
    margin: 50px;
}

.cards-container1 {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 45px;
}

.card {
    height: 70%;
    background-color: #6c567b;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.card-header img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.vasco {
    max-height: 0px;
    overflow: hidden;
    margin-bottom: 20px;
}

.expanded {
    max-height: 500px;
}



.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px auto;
    gap: 20px;
    width: 80%;
    max-width: 1200px;
  }

  .texto_paint {
    color: rgb(255, 255, 255);
    padding: 20px 350px;
    text-align: center;
    font-size: 1em;
    font-weight: 10;
    margin-bottom: 10px;
    font-family: "Arapey", serif;
    color: #D4C0D3;
}


  .card_expansivel {
    background-image: url(../media/tiago_foto1.jpg);
    background-size: cover;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    transition: width 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .card_expansivel2 {
    background-image: url(../media/tiago_foto2.jpg);
    background-size: cover;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    transition: width 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-content {
    padding: 20px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .card_expansivel:hover .card-content, 
.card_expansivel2:hover .card-content {
    opacity: 1; 
    transform: translateY(0); 
}


.card_expansivel:hover .card-content p, 
.card_expansivel2:hover .card-content p {
    opacity: 1; /* Torna os parágrafos visíveis no hover */
    transform: translateY(0); /* Move para a posição correta */
}

  
  .card_expansivel:hover, .card_expansivel2:hover {
    width: 100%;
  }
  
  .card_expansivel:hover .card-content, .card_expansivel2:hover .card-content2 {
    opacity: 1;
    transform: translateY(0);
  }
  
  .title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .card_expansivel p, .card_expansivel2 p {
    font-size: 1em;
    color: #ffffff;
  }

.toggle-button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 24px;
    position: relative;
    margin-top: 10px;
    align-self: center;
    transition: transform 0.3s ease;
}

.toggle-button .flecha {
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 30px;
    color: #ddd;
} 

#h1_Paint {
    color: #F59AEE;
    margin-right: 48%;
    font-size: 60px;
    font-family: urban_heroes; 
    text-shadow: 
    -8px -8px 0 #000,  
    8px -8px 0 #000,  
    -8px 8px 0 #000,  
    8px 8px 0 #000;   
    display: inline-block;
}


canvas {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-de-ferramentas {
    width: 110px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.botao__ferramenta,
.botao__tamanho {
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.botao__ferramenta > span {
    font-size: 1.8rem;
}

.botao__ferramenta:hover,
.botao__tamanho:hover {
    background-color: rgb(161, 161, 161);
}

.input__cor {
    width: 45px;
    height: 45px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px 7px;
    background-image: url(../media/icons8-círculo-rgb-2-48.png)
}

.input__cor::-webkit-color-swatch {
    border-radius: 100px;
}

.botao__tamanho {
    padding: 10px;
    height: auto;
}

.botao__tamanho > span {
    width: 100%;
    background-color: #000;
    border-radius: 100px;
    display: block;
}

.botao__tamanho[data-size="5"] > span {
    height: 5px;
}

.botao__tamanho[data-size="10"] > span {
    height: 10px;
}

.botao__tamanho[data-size="20"] > span {
    height: 20px;
}

.botao__tamanho[data-size="30"] > span {
    height: 30px;
}

.ativo {
    background-color: #ffffff;
}


footer {
    background-color: #000000;
    padding: 20px;
    text-align: center;
    color: white;
    margin-top: 30px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 15px;
}

.footer-links a {
    text-decoration: none;
    color: rgb(186, 101, 255);
}

.footer-links a:hover {
    text-decoration: underline;
}

.social-media {
    margin-top: 10px;
}

.social-media a {
    text-decoration: none;
    color: rgb(186, 101, 255);
}

.social-media a:hover {
    text-decoration: underline;
}
