 @import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');

@font-face {
    font-family: urban_heroes;
    src: url(../fonts/urban_heroes/Urban\ Heroes.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


htmml {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../media/fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    
}

h1 {
    font-family: "EB Garamond", serif;
}

p {
    font-family: "Arapey", serif;
}

h2 {
    font-family: "Arapey", serif;
}


header {
    background-color: black;
    color: #F59AEE;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px      

}

header img {
    height: 125px;
    width: 100;
    margin: 10px;
}



header a::before{
    content: "|";
    margin: 0px 20px 0px 20px;
    font-family: "Port Lligat Slab", serif;
    color: white;
}

header a::after{
    content: "|";
    margin: 0px 20px 0px 20px;
    font-family: "Port Lligat Slab", serif;
    color: white;
}

header a {
    text-decoration: none;
    color: #F59AEE;
   
}

.botao_menu {
    background: none;
    border: none;
    color: #F59AEE;
    text-decoration: underline;
    cursor: pointer;
    font-size: inherit;
    font-family: "Play", serif;;
}

.botao_menu:hover {
    color:#F59AEE;
}

/* botao para voltar pra cima */

#seta {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(183, 0, 255);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #seta:hover {
    background-color: #525252;
  }

  /**/


nav {
 background-image: url(../media/hero.jpg);
    height:800px ;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-size: cover;
}

nav h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 60px;
    margin: 10%;
    font-family: "Arapey", serif;
    
}

#arte {
    color: #DE39F8;
    font-family: urban_heroes;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 
    -3px -3px 0 #000,  
    3px -3px 0 #000,  
    -3px 3px 0 #000,  
    3px 3px 0 #000;   
    display: inline-block;

}

#titulo-geral {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 7%;
}




#texto-revolucao {
    margin:220px 0; 
    margin-top: 0px;
}

#texto-revolucao .linha {
    display: flex;
    align-items: center;
    gap:20px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right:150px;
    margin-top: 100px;
}

#texto-revolucao .texto {
    flex: 1;
    margin-bottom: 20px; 
    
}

#texto-revolucao .imagem {
    flex: 1;
}

#texto-revolucao .imagem img {
    width: 500px; 
    height: 300px;
    object-fit: cover; 
    border-radius: 5px; 
    display: block;
    margin: 0 auto; 
    border: rgb(63, 1, 82) solid 5px;
}

@media (max-width: 768px) {
    #texto-revolucao .linha {
        flex-direction: column;
        text-align: center;
    }

    #texto-revolucao .imagem img {
        width: 200px; 
        height: 200px;
    }
}



.evolucao-da-arte {
    text-align: center;
}

#titulo-evolucao-da-arte {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 2em;
    margin: 50px;
}

#fonte_RDCA {
    margin: 20px;
}

#expancao {
    margin: 20px;
}

.cards-evolucao_da_arte {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 45px;
}

.todo-card {
    height: 70%;
    background-color: #6c567b;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: rgb(134, 0, 175) solid 5px;
}

.card-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.card-imagem img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.expansao {
    max-height: 0px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: 0.9 ease;
}

.expandido {
    max-height: 500px;
    min-height: 260px;
    
}

#ferramentas_titulo {
    margin-top: 300px;
}


.ferramentas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px auto;
    gap: 20px;
    width: 80%;
    max-width: 1200px;
  }

  .texto_paint {
    color: rgb(255, 255, 255);
    padding: 20px 350px;
    text-align: center;
    font-size: 1em;
    font-weight: 10;
    margin-bottom: 10px;
    font-family: "Arapey", serif;
    color: #D4C0D3;
}


  .ferramentas-card {
    background-image: url(../media/fundocard.jpg);
    background-size: cover;
    border-radius: 10px;
    width: 800px;
    height: 400px;
    transition: width 0.3s ease;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(23, 0, 31) solid 5px;
  }
    
  
  .ferramentas-expansiveis {
    padding: 20px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .ferramentas-card:hover .ferramentas-expansiveis {
    opacity: 1; 
    transform: translateY(0); 
}


.ferramentas-card:hover .ferramentas-expansiveis p {
    opacity: 1; 
    transform: translateY(0); 
}

  
  .ferramentas-card:hover {
    width: 100%;
  }
  
  .ferramentas-card:hover .ferramentas-expansiveis {
    opacity: 1;
    transform: translateY(0);
  }
  
  .titulo-ferramentas {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .ferramentas-card p {
    font-size: 1em;
    color: #ffffff;
  }

.toggle-button {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 24px;
    position: relative;
    margin-top: 10px;
    align-self: center;
    transition: transform 0.3s ease;
}

.toggle-button .flecha {
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 30px;
    color: #ddd;
} 

#h1_Paint {
    color: #000000;
    font-size: 60px;
    font-family: urban_heroes; 
    text-shadow: 
    -4px -4px 0 #640046,  
    4px -4px 0 #bd00bd,  
    -4px 4px 0 #800091,  
    4px 4px 0 #ff00ff;   
    display: flex;
    justify-content: center;
    margin-top: 300px;
}


canvas {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-de-ferramentas {
    width: 110px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 40px;
    padding: 5.9px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.botao__ferramenta,
.botao__tamanho {
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}

.botao__ferramenta > span {
    font-size: 1.8rem;
}

.botao__ferramenta:hover,
.botao__tamanho:hover {
    background-color: rgb(161, 161, 161);
}

.input__cor {
    width: 45px;
    height: 45px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px 10px;
    background-image: url(../media/icons8-modo-de-cor.gif);
    background-position: 1px;
        background-position-x: -1px;
}

.input__cor::-webkit-color-swatch {
    border-radius: 100px;
}

.botao__tamanho {
    padding: 10px;
    height: auto;
}

.botao__tamanho > span {
    width: 100%;
    background-color: #000;
    border-radius: 100px;
    display: block;
}

.botao__tamanho[data-size="5"] > span {
    height: 5px;
}

.botao__tamanho[data-size="10"] > span {
    height: 10px;
}

.botao__tamanho[data-size="20"] > span {
    height: 20px;
}

.botao__tamanho[data-size="30"] > span {
    height: 30px;
}

.ativo {
    background-color: #ffffff;
}

.footer {
    background-color: black;
    padding: 20px 0;
    margin-top: 100px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.left,
.center,
.right {
    flex: 1;
    padding: 10px;
}

.left {
    text-align: left;
    margin-left: 60px;
}

.left h2 {
    font-size: 15px;
}

.left p {
    font-size: 10px;
}


.center {
    text-align: center;
}

.right {
    text-align: right;
    margin-right: 60px; 
}

.right img {
    width: 60px;
    
}  